* {
  margin: 0;
}

header {
  background-color: #b8adad;
  color: #ffff;
  margin-bottom: 3%;
  padding: 1%;
}

footer {
  margin-top: 3%;
  padding: 1%;
  background-color: #8d6363;
  text-align: center;
}

footer li {
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: #000;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  color: #0f4fc7;
}

section {
  font-size: 1.2em;
  width: 80%;
  margin: auto;
}

img {
  width: 60%;
}

p {
  padding: 1%;
}

header nav a {
  padding: 1%;
  font-size: 1em;
  color: #000;
  text-decoration: none;
}

a:hover {
  border-radius: 5px;
  color: #fff;
  background-color: #305be7b0;
}
